<div class="py-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @restaurant.image.key, height: 300, crop: :fill %>'); background size: cover; background-position: center;">
  <%= link_to restaurant_path(@restaurant), class: "text-decoration-none text-white" do %>
  <h1 class="text-white ps-3"><%= @restaurant.name %></h1>
  <% end %>
</div>

<h2 class="py-3">Que pouvons-nous faire pour vous ? <small><i>Table <%= @sitting_area.sitting_area_number %></i></small></h2>

<div class="row mx-0">
  <% Category.all.each do |category| %>
    <div class="col-6">
      <%= link_to new_sitting_area_order_path(@sitting_area, category_id: category.id), class: "d-block btn btn-primary mb-1 py-3" do %>
        <span><%= category.name %></span>
      <% end %>
    </div>
  <% end %>
  <div class="col-6">
    <!-- Button trigger modal -->
    <button type="button" class="d-block btn btn-primary mb-1 py-3 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Autre demande
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Que voulez vous ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for :item, url: sitting_area_items_path(@sitting_area), method: :post do |f| %>
          <%= f.input :name %>
          <%= f.input :quantity, as: :integer %>
          <%= f.input :category, collection: Category.all %>
          <%= f.submit 'envoyer', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @sitting_area.orders.any? %>
  <%= render 'shared/recap_orders', pending_orders: @pending_orders, passed_orders: @passed_orders %>
<% end %>
