<%= render "shared/banner_client", restaurant: @restaurant, sitting_area: @sitting_area %>

<div class="container-fluid">
  <h2 class="py-2 text-center"> Que pouvons-nous faire pour vous ? </h2>

  <div class="row mx-0" style="text-decoration: none;">
    <% Category.all.each do |category| %>
      <div class="col-6">
        <%= link_to new_sitting_area_order_path(@sitting_area, category_id: category.id), class: "d-block btn #{category.name}-background mb-5 py-3", style: "border-radius: 5px; box-shadow: 2px 2px 5px rgba(0,0,0,0.3);" do %>
          <span>
            <%= image_tag "#{category.name}.png", style: 'height:70px;width:70px;'%>
            <br>
            <%= category.name %>
          </span>
        <% end %>
      </div>
    <% end %>
    <div class="col-6 text-center">
      <!-- Button trigger modal -->
      <div type="button" class= "autre d-block btn btn-primary mb-5 py-3", style= "border-radius: 5px; box-shadow: 2px 2px 5px rgba(0,0,0,0.3);" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <%= image_tag "custom.png", alt:"Custom Icon", style:"height:70px;width:70px;position:relative;left:6px"%>
        <br>
        Autres
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Que voulez vous ?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for :item, url: sitting_area_items_path(@sitting_area), method: :post do |f| %>
            <%= f.input :name, label: "Votre demande"%>
            <%= f.input :quantity, label: "En quel quantité ?" , as: :integer %>
            <%= f.input :category_id, label: "Le type de votre demande ?", as: :select, collection: Category.all, label_method: :name, label_value: :id %>
            <%= f.submit 'envoyer', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>



<%# DROP DOWN PENDING ORDERS  %>

<div class="pending-orders">
  <h5 class="py-1 text-center"  >
    <% if (@pending_orders.count) == 0 %>
      0 Commandes en attente
    <% else  %>
      <%= @pending_orders.count %> Commandes en attente
    <% end %>
    <span class="btn btn-primary collapsed" data-bs-toggle="collapse" data-bs-target="#collapseExample-<%= @sitting_area.id %>">
      <i class="fa-solid fa-angle-down"></i>
    </span>
  </h5>
  <div class="container-fluid">
    <div class="collapse" id="collapseExample-<%= @sitting_area.id %>">
      <div class="card-body mt-2">
        <% @pending_orders.each do |order| %>
          <div class="pending-order">
            <div class="d-flex justify-content-between">
              <%= order.quantity %> <%= order.item.name %>
              <div class="badge bg-secondary"><%= format_status(order.status) %></div>
            </div>
            <div class="d-flex justify-content-between">
              <small>(Il y a <%= order.find_time %>)</small>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
