<div class="py-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @restaurant.image.key, height: 300, crop: :fill %>'); background size: cover; background-position: center;">
  <%= link_to restaurant_path(@restaurant), class: "text-decoration-none text-white" do %>
  <h1 class="text-white ps-3"><%= @restaurant.name %></h1>
  <% end %>
</div>

<h2 class="py-3">Que pouvons-nous faire pour vous ? <small><i>Table <%= @sitting_area.sitting_area_number %></i></small></h2>

<div class="row mx-0">
  <% Category.all.each do |category| %>
    <div class="col-6">
      <%= link_to new_sitting_area_order_path(@sitting_area, category_id: category.id), class: "d-block btn btn-primary mb-1 py-3" do %>
        <span><%= category.name %></span>
      <% end %>
    </div>
  <% end %>
</div>

<%# ADD CUSTOM ORDER/ ITEM %>

<% if @sitting_area.orders.any? %>
  <hr>
  <h5 class="mb-0 py-1">Historique des commandes</h5>
  <% @passed_orders.each do |order| %>
    <div class="py-1">
      <div class="d-flex justify-content-between">
        <div>
          <%= order.quantity %> <%= order.item.name %>
          <%= order.find_time %>
        </div>
        <div class="badge bg-secondary"><%= order.status %></div>
      </div>
      <small>(il y a <%= order.find_time %>) </small><small>pris en charge par <%= User.find(order.employee).email.capitalize.split("@")[0] %></small>
    </div>
  <% end %>

  <hr>
  <h5 class="mb-0 py-1">Commandes en attente</h5>
  <% @pending_orders.each do |order| %>
    <div class="py-1">
      <div class="d-flex justify-content-between">
        <%= order.quantity %> <%= order.item.name %>
        <div class="badge bg-secondary"><%= order.status %></div>
      </div>
      <div class="d-flex justify-content-between">
        <small>(il y a <%= order.find_time %>)</small>
        <div class="d-flex">
          <%= link_to "supprimer", order_path(order), class: "disabled pe-2", data: {turbo_method: :delete, turbo_confirm: 'Are you sure'} %>
          <%= link_to "modifier", new_sitting_area_order_path(@sitting_area, category_id: order.category.id) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>