<div class="ordered_card">
  <p><%= user.email.capitalize.split("@")[0] %>
  a traité <%= @restaurant.orders.where(status: "accepter", employee: user.id).count + @restaurant.orders.where(status: "refuser", employee: user.id).count %> commandes </p>
  <div>
      Commandes acceptées : <%= @restaurant.orders.where(status: "accepter" , employee: user.id).count %>
  </div>
  <div>
    Commandes refusées : <%= @restaurant.orders.where(status: "refuser", employee: user.id).count %>
  </div>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample-<%= user.id %>" aria-expanded="false" aria-controls="collapseExample">
    V
  </button>
  <div class="collapse" id="collapseExample-<%= user.id %>">
    <div class=" card-body mt-2 ">
      <% @orders.where(employee: user.id).select { |order| order.restaurant == @restaurant }.each do |order| %>
      <div class="d-flex justify-content-between mt-2">
        <div>
          <%= order.item.name %>

          <div class = "d-flex justify-content-between">
          <% time = distance_of_time_in_words(order.updated_at, order.created_at)  %>
           <% if (order.updated_at - order.created_at) >= 5.minutes %>
            <small>temps d'attente : </small><p class ="elapsed-time-red"><%= time %></p>
          <% elsif (order.updated_at - order.created_at) >= 3.minutes %>
            <small>temps d'attente :</small><p class ="elapsed-time-orange"><%= time %></p> >
          <% else %>
            <small>temps d'attente :</small><p class ="elapsed-time-green"><%= time %></p>
          <% end %>

          </div>
        </div>
        <%= order.status %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<hr>
