<div class="ordered_card">
  <p><%= user.email.capitalize.split("@")[0] %>
  a traité <%= @restaurant.orders.where(status: "accepter", employee: user.id).count + @restaurant.orders.where(status: "refuser", employee: user.id).count %> commandes </p>
  <div>
      Commandes acceptées : <%= @restaurant.orders.where(status: "accepter" , employee: user.id).count %>
  </div>
  <div>
    Commandes refusées : <%= @restaurant.orders.where(status: "refuser", employee: user.id).count %>
  </div>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample-<%= user.id %>" aria-expanded="false" aria-controls="collapseExample">
    V
  </button>
  <div class="collapse" id="collapseExample-<%= user.id %>">
    <div class=" card-body mt-2 ">
      <% @orders.where(employee: user.id).select { |order| order.restaurant == @restaurant }.each do |order| %>
      <div class="d-flex justify-content-between mt-2">
        <div>
          <%= order.item.name %>
          <div>
            <small>temps d'attente </small><%= distance_of_time_in_words(order.updated_at, order.created_at) %>
          </div>
        </div>
        <%= order.status %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<hr>
