<%= render "shared/banner_client", restaurant: @restaurant, sitting_area: @sitting_area %>
<%= link_to "<", sitting_area_path(@sitting_area), class: "btn btn-primary back-btn",  style: "text-decoration: none; color: inherit; z-index: 1000" %>

<div class="container-fluid">
  <%# <%= render 'shared/recap_orders', pending_orders: @pending_orders, passed_orders: @passed_orders %>
  <div class="icone-item">
    <%= image_tag "#{@category.name}.png"%>
  </div>

  <hr>
  <h5 class="mb-0 py-1">Passer commande</h5>
  <hr>
  <% @category.items.where.not(custom: ("true")).each do |item| %>
    <%# <span><%= item.name %></span>
          <%# <%= image_tag "#{item.name}.png", style: 'height:40px;width:40px;' %>
    <div class="d-flex w-100 justify-content-between py-2">
      <%= item.name %>
      <div class="d-flex align-items-center category-item-number" >
        <% order = Order.where(item_id: item.id, sitting_area_id: params[:sitting_area_id]).last %>


        <%# font awsome btn - %>
        <%= link_to remove_order_sitting_area_orders_path(@sitting_area, item_id: item.id), class: "btn btn-primary minus #{ 'disabled' if Order.find_by(item_id: item.id, sitting_area_id: params[:sitting_area_id]).nil? }" do %>
          <i class="fa-solid fa-minus"></i>
        <% end %>



        <div class="number px-2"><%= @sitting_area.orders.find_by(item: item, status: "en attente").nil? ? '0' : @sitting_area.orders.find_by(item: item, status: "en attente").quantity %></div>

        <%# font awsome btn + %>
        <%= link_to add_order_sitting_area_orders_path(@sitting_area, item_id: item.id), class: "plus" do %>
          <i class="fa-solid fa-plus" ></i>
        <% end %>

      </div>
    </div>
  <% end %>
  <hr>
</div>
<%= render "shared/historique_client"%>
