<div class="py-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @restaurant.image.key, height: 300, crop: :fill %>'); background size: cover; background-position: center;">
  <h1 class="text-white ps-3"><%= @restaurant.name %></h1>
</div>

<div class= "container">
  <p>Vos urgences a gerer</p>
  <div class="">
    <% @sitting_areas.each do |sitting_area| %>
      <%= link_to sitting_area_path(sitting_area), class: "text-decoration-none text-black" do  %>
        <% unless sitting_area.orders.empty? %>
          <div class="order_card px-10">
            <p>table <%=sitting_area.sitting_area_number%></p>
            <div class="mx-5" style="">
              <%sitting_area.orders.each do |order|%>
              <div class="d-flex justify-content-between " style="">
                <p><%=order.item.name%> x<%=order.quantity%></p>
                <p>time</p>
                <div>
                  <button>v</button>
                  <button>x</button>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%# all check button%>
      <div>
      <p>All</p>
      <button>v</button>
      <button>x</button>
      </div>
    <% end %>
  </div>
</div>