<div class="py-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @restaurant.image.key, height: 300, crop: :fill %>'); background size: cover; background-position: center;">
  <h1 class="text-white ps-3 text-center">  <%= link_to "#{ @restaurant.name}", sitting_area_path(@sitting_areas.first), class: "text-decoration-none text-white" %></h1>
</div>
  <% @sitting_areas.each do |sitting_area| %>
    <% unless sitting_area.orders.where(status: "en attente").empty? %>
    <div class="rounded-4 bg-light px-2 py-3 my-2">

        <h3>Table <%= sitting_area.sitting_area_number %> :</h3>

      <% sitting_area.orders.each do |order|%>
        <% if order.status == "en attente" %>
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column align-items-start">
              <div>
                <%= order.quantity %> <%= order.item.name %>
              </div>
              <div class="d-flex justify-content-between">
                <div class="badge bg-secondary"><%= order.status %></div>
                <small>(il y a <%= order.find_time %>)</small>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <%= form_with model: order do |f| %>
                <%= f.hidden_field :status, value: "refuser" %>
                <%= f.submit value: "X", class: 'btn btn-secondary rounded-circle me-2' %>
              <% end %>
              <%= form_with model: order do |f| %>
                <%= f.hidden_field :status, value: "accepter" %>
                <%= f.submit value: "V", class: 'btn btn-primary rounded-circle' %>
              <% end %>
            </div>
          </div>
          <hr class = "my-hr">
        <% end %>
      <% end %>
      <div class="d-flex justify-content-end ">
            <p>ALL</p>
              <div class="d-flex " style="  margin-left: 10px;">
                <%= simple_form_for :sitting_area, url: update_all_orders_path, method: :patch do |f| %>
                  <%= f.hidden_field :sitting_area,  value: sitting_area.id %>
                  <%= f.hidden_field :status,  value: 'refuser' %>
                  <%= f.submit 'X', class: 'btn btn-secondary rounded-circle me-2' %>
                <% end %>
                <%= simple_form_for :sitting_area, url: update_all_orders_path, method: :patch do |f| %>
                  <%= f.hidden_field :sitting_area,  value: sitting_area.id %>
                  <%= f.hidden_field :status,  value: 'accepter' %>
                  <%= f.submit 'V', class: 'btn btn-primary rounded-circle'%>
                <% end %>
              </div>
            </div>
   </div>
    <% end %>
  <% end %>

<div>
    <% @restaurant.orders.where(status: "accepter").each do |order| %>
    <% end %>
    </div>
    <div>
    <% @restaurant.orders.where(status: "refuser").each do |order| %>
    <% end %>
  </div>
      <div>
    <% @restaurant.orders.where(status: "en attente").each do |order| %>
    <% end %>
  </div>
</div>
   <%# <div>
    <% if order.status == "en attente" %>
    <%# <%= order.quantity %>
    <%# <%= order.item.name %>
   <%# </div> %>
